@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 12px; /*font-size principal, 1rem = 10px*/
}

body {
  width: 100%; /*el ancho se ajusta a toda la ventana*/
  min-height: 100vh; /*el body se ajusta al 100% de la ventana(pantalla completa)*/
  @apply bg-violet-50
}

.active{
  @apply font-bold text-violet-900;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #b8b8b8;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(124,58,237);
  border: solid, 1, violet;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(76,29,149);
}
